<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemate</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'TelemateServer/style.css' %}">
    <link rel="shortcut icon" href="{%static 'TelemateServer/robot.png' %}" type="image/x-icon">
</head>

<body>
    <div class="bg" style="background-image: url( {%static 'TelemateServer/back.jpg' %} );"> </div>
    <header>

        <nav>

            <ul>
                <li>
                    <div class="logo">
                        <a href="https://github.com/Telemate/Telemate" target="_blank"> <img
                                src="{%static 'TelemateServer/robot.png' %}" alt="robot">
                        </a>

                        <a href="https://github.com/Telemate/Telemate" target="_blank"> Telemate</a>

                    </div>
                </li>

            </ul>
            <div class="h_line">
                <hr>
            </div>
            <ul>
                <li><span class="v_line">|</span></li>


                <li> <span class="first_element"><a href="home#">Home</a></span> </li>

                <li> <a href="Features#">Features</a></li>
                <li><span class="themes">Themes
                        <div class="submenu">
                            <ul>
                                <li><a href="#High-tech">High-tech</a></li>
                                <li><a href="#Jarvis">Jarvis</a></li>
                                <li><a href="#Veronica">Veronica</a></li>
                                <li><a href="#Friday">Friday</a></li>
                            </ul>
                    </span>
                    </div>

                </li>


                <li> <a href="About us#">About us</a></li>

                <li> <a href="Contact us#">Contact us</a></li>


            </ul>
        </nav>

    </header>

    <main>

        <div class="box">
            <form method="post"> {% csrf_token %}
                <input type="text" class="search" placeholder="type here......">
                <button type="submit"> <input type="image" class="enter" name="search"
                        src="{%static 'TelemateServer/enter.png' %}" alt="search"></button>
                <input type="image" onclick="startDictation()" class="mic" name="mic"
                    src="{%static 'TelemateServer/mic.png' %}" alt="mic">
            </form>
        </div>
    </main>
    <script src="{%static 'TelemateServer/script.js' %}"></script>

</body>

</html>