<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemate</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'TelemateServer/style.css' %}">
    <link rel="shortcut icon" href="{%static 'TelemateServer/robot.png' %}" type="image/x-icon">
</head>

<body>
    <main>
        <div class="box">
            <form method="post" id="labnol"> {% csrf_token %}
                <input type="text" name="q" class="search" id="transcript" placeholder="Search Here">
                <img type="submit" class="enter" onclick="submit()" name="search" src="{%static 'TelemateServer/enter.png' %}"
                    alt="search">   
                <img onclick="startDictation()"  id="mic" src="https://i.ibb.co/kS74wtp/mic-off.png"
                    alt="mic">
            </form>
        </div>
    </main>
    <script src="{%static 'TelemateServer/script.js' %}"></script>

</body>

</html>