body {
    height: 100px;
    font-family: "Bree serif";
    
    background-color: rgb(206, 206, 206);
    /* background-image: "https://www.thoughtco.com/thmb/Fj7HGv5VgAZ7M4yCBiMG05GlL34=/2121x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1086740226-5c2d625a4cedfd00016ed36c.jpg"; */
}

#logo {
    height: 40px;

    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8736em 0.9984em;
    text-decoration: none;
    font-size: 1.0608em;
}

footer {
    margin-top: 80vh;
    justify-content: center;
}

#mic-image {
    height: 38px;
    justify-content: center;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4a26c9;
    color: white;
}